.boton-amarillo {
    @include boton($amarillo, inline-block);
       padding: 1rem;
        flex: 1;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
}

.boton-amarillo-block {
    @include boton($amarillo, block);
        padding: 1rem;
        flex: 1;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
}

.boton-verde {
    @include boton($verde, inline-block);
    
        padding: 1rem;
        flex: 1;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    
}

.boton-rojo-block{
    @include boton($rojo, block);
    width: 100%;
        padding: 1rem;
        flex: 1;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
}

.boton-verde-block{
    @include boton($verde, block);
        padding: 1rem;
        flex: 1;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
}